extends layout 

block content 
    h2= title
    if count > 0
        p #{count} items have the #{category.name} category:  
        ul
            for item in items
                li= `${item.name} `
                    a(href=`/inventory/item/${item.id}`) (ID: #{item.id})
        p By deleting this category, #[strong some of those items may become uncategorized.] 
    else 
        p No items have this category.
    p Are you sure you want to delete it?
    form(method="post")
        div.form-field
            input#categoryid(type='hidden' name='categoryid' value=category.id)
            label(for="password") #[strong Secret password*]: 
            input#password(type='password' name='password' required) 
            button(type='submit') Delete
    if errors 
      h2 Errors: 
      ul 
        for error in errors 
            li=error.msg
