extends layout 

block content 
  h2=title 
  h3 Details:
  ul 
    li #[strong ID:] #{item.id}
    li #[strong Name:] #{item.name}
    li #[strong Description:] #{item.description}
    li #[strong Price:] $#{item.price}
    li #[strong In stock:] #{item.stock}
    li #[strong Category:]&nbsp;
        if categories.length === 0
          span Uncategorized
        else
          for category in categories
            a(href=category.url)=category.name
            if categories[categories.length - 1] !== category
              span=', '
  p Are you sure you want to delete this item?
  form(method='POST')
    div.form-field
      input#itemid(type='hidden' name='itemid' value=item._id)
      label(for="password") #[strong Secret password*]: 
      input#password(type='password' name='password' required) 
      button(type='submit') Delete
  if errors 
    h2 Errors: 
    ul 
        for error in errors 
            li=error.msg
    