extends layout 

block content
  h2= `${title}: ${item.name}`
  if item.imgurl
    img(src=item.imgurl, alt=item.name, class='item-detail-img')
  h3 Details:
  ul 
    li #[strong ID:] #{item.id}
    li #[strong Name:] #{item.name}
    li #[strong Description:] #{item.description || 'No description was provided.'}
    li #[strong Price:] $#{item.price}
    li #[strong In stock:] #{item.stock}
    li #[strong Category:]&nbsp;
        if !categories || categories.length === 0
          span Uncategorized
        else
          for category in categories 
            a(href=category.url)=category.name
            if categories.length > 1 && categories[categories.length - 1] !== category
              span=', '
  h3 Actions:
  ul 
    li
        a(href=`./${item.id}/update`) Update
    li
        a(href=`./${item.id}/delete`) Delete